@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Neucha&display=swap');


* {
    box-sizing: border-box;
  }

  h3{
    font-family:'Courier New', Courier, monospace;
    opacity: 0.5;
  }

body{
    background-color: #A704FB;
    font-family: "Neucha", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding:20px;
}
.container{
    
    width: 800px;
    background-color: #fff;
     border-radius: 5px;
     text-align: center;
     padding:50px 20px;
     max-width: 100%;
     box-shadow:10px 5px 5px rgba(0, 0, 0, 0.1) ;
}


    .joke {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 40px;
        margin: 50px auto;
        max-width: 600px;
      }
      

.btn{
    background-color: #E0A6FE;
    color: #000;
    border:0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
}
.btn:active{
  transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}